@font-face {
    font-family: 'Hackney';
    src: url('../fonts/HackneyPersonalUseOnly.ttf') format("truetype"),
  }


@font-face {
    font-family: 'Oestrogen';
    src: url('../fonts/VfL-Schriftart_Headline_VfL-OESTROGEN.ttf') format("truetype");
  }


