#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"

// Workaround for Swift version parsing issue
SWIFT_VERSION = 5.0
SWIFT_EXEC = /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/swiftc
TOOLCHAIN_DIR = /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain
DEVELOPER_DIR = /Applications/Xcode.app/Contents/Developer

// Build optimization settings for faster debug builds
SWIFT_COMPILATION_MODE = singlefile
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES
ONLY_ACTIVE_ARCH = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Reduce warnings to speed up compilation
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_UNDECLARED_SELECTOR = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_VARIABLE = NO
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = NO
CLANG_WARN_BOOL_CONVERSION = NO
CLANG_WARN_COMMA = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
CLANG_WARN_EMPTY_BODY = NO
CLANG_WARN_ENUM_CONVERSION = NO
CLANG_WARN_INFINITE_RECURSION = NO
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = NO
CLANG_WARN_OBJC_LITERAL_CONVERSION = NO
CLANG_WARN_RANGE_LOOP_ANALYSIS = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
CLANG_WARN_SUSPICIOUS_MOVE = NO
CLANG_WARN_UNREACHABLE_CODE = NO
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO

// Enable parallel building
SWIFT_EXEC = /usr/bin/xcrun
SWIFT_FORCE_STATIC_LINK_STDLIB = NO
SWIFT_FORCE_DYNAMIC_LINK_STDLIB = YES

// Disable bitcode for faster builds
ENABLE_BITCODE = NO
